<h2>Verify OTP to Log in</h2>

<div style="margin-bottom: 30px">
  <%= form_tag do |f| %>
    <div style="float: left">
      <%= text_field_tag :otp, nil,autocomplete: "off", placeholder: "Enter OTP", onkeydown: "return (['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : (!isNaN(Number(event.key)) && event.code !== 'Space'))" %>
    </div>

    <div class="actions" style="float: left; margin-left: 10px">
      <%= submit_tag "Verify Otp" %>
    </div>
  <% end %>
</div>
<br />

<% can_resend_otp = ((DateTime.now.to_i - current_user.otp_sent_at.to_i) / 60) >= 1 %>
<% if can_resend_otp %>
  <%= link_to 'Resend OTP', '/resend_otp', id: 'resend-otp-link', data: { turbolinks: false } %>
<% else %>
  <span id="resend-otp-link" style="color: grey;"><u>Resend OTP</u></span>
  <div id="error-message" style="color: red;">Please wait for a minute to activate resend.</div>
<% end %>

<div style="margin-top: 30px">
  <%= form_tag(destroy_user_session_path, method: :delete) do %>
    <%= submit_tag 'Log Out' %>
  <% end %>
</div>