<% if user_signed_in? %>
  <% table_options = get_accessible_table_names %>
  <h1>Dashboard</h1>
  <div>
    <div style="float: left"></div>
    <div style="float: right">
      <%= form_tag(destroy_user_session_path, method: :delete) do %>
        <%= submit_tag 'Log Out' %>
      <% end %>
    </div>
  </div>

  <br />
  <p style="margin: 20px 10px">

  <div>
    <div style="float: left">
      Please select the table name for that data needs to be exported
    </div>

    <div style="float: left; margin-left: 20px">
      <%= select_tag 'selected_option', options_for_select(table_options), id: 'table_to_export' %>
    </div>
  </div>

  <div style="margin: 50px 10px">
    <%= link_to 'Generate CSV', generate_export_path(selected_option: table_options.first, format: 'csv'), class: 'btn btn-primary', id: 'generate-csv-link', class: 'csv-button' %>

    <%= link_to 'Generate Excel', generate_export_path(selected_option: table_options.first, format: 'xlsx'), class: 'btn btn-primary', id: 'generate-excel-link', class: 'excel-button' %>
  </div>

<% else %>
  Please Login to proceed
  <%= link_to 'Log In', new_user_session_path %>
<% end %>
